
<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>

</br>
</br>

<% @links.each do |link| %>
<div>
<%= link_to link.name, list_link_path(link) %>
</div>
<% end %>

<p> <%= link_to "add a link", new_list_link_path(@list) %> </p>
