<div class="claim">Keep track of all your useful links</div>

<div class="login-html">
<div class="sign"><%= link_to "Sign in", new_user_session_path %></div> |
<div class="sign"><%= link_to "Sign up", new_user_registration_path %></div>

</br>
