<% if !user_signed_in? %>


<div class="claim">Keep track of all your useful links</div>


<div class="login-html">

<div class="sign"><%= link_to "Sign in", new_user_session_path %></div> 
<div class="sign"><%= link_to "Sign up", new_user_registration_path %></div>


<div class="sign"><%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %></div>
</div>


<% end %>




<% if user_signed_in? %>

<%= render partial: 'welcome'%>

<% end %>


