
<%= render partial: 'welcome', locals: { lists: @lists}%>
<!-- ########################################################################################################################## -->			
<div class="link"></div>

