			<div>
			</br>
			Sort by |
			
			
			<%= link_to "priority", filter_path(@list, :high_priority)%> | 
			<%= link_to "least recent", filter_path(@list, :recent)%> |  
			<%= link_to "most recent", filter_path(@list, :old) %> 

			<span class="delete_link"  > 
			<%= link_to "Delete List!", @list, :method => :delete%>
			</span>

			</div>