<%= render partial: 'welcome/welcome', locals: { lists: @lists} %>



<div class="left-margin">
</br>

<div class="new"> Save a new link in <%=@list.name%></div>
<%= image_tag "line.png", option={class: "new"} %>
</br>
</br>


<%= render partial: 'form', locals: {link: @link, list: @list} %>
</div>
</div>
</div>
<!-- closing the div tag of the partial -->
</div>