/*
*=require_tree
*= require_self
*/
body{
font-family: 'Ubuntu Mono', monospace;
}

@media only screen and (max-width: 1000px){
 #second_column {
 	margin-top: calc(div.first_column.height);
 }
}


/*flash alerts*/
.alert-warning{
	opacity: 0.5;
}

#error_explanation, #error_explanation h2{
	background-color: #FFF9E6;
	position: fixed;
	left: -200px;
	top: -60px;
	opacity: 0.5;
	width: 1000px;
	color: black;
	font-size: 12px;
}

#error_explanation{
	padding-top: 20px;
}

.text-list{ 
	width: 80%; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}

/*.field-new-list{
	margin-right: 0;
}
*/
#list-name{
	width:100%;
}

.grey{
	color:grey;
}

.white{
	color: white;
}

.preview{
	height: 200px;
	width: 100%;	
	border-style: solid;
	border-color: #CCFF38;
	border-width: 3px;	
}

.size-preview{
	height: 700px;
}

.top-margin-show{
	margin-top: 7%;
}

.go{
	float: right;
	background-color: #CCFF38;
	padding: 7px;
}

a:link{
	color: grey;
}

a:visited { 
    color: grey;
}

a:hover {
    color: black;
}

a:active {
    color: red;
}

.pos{
	position: fixed;
	min-height: 100%;
	 height: auto !important;
	 height: 100%;

}

.pos h1{
	font-size: 4em; 
	color: grey;
	margin-bottom: 50px;
}

.new{
	margin-bottom: 30px;
}

.field-length{
	width: 80%;
}

.link_date{
	color: grey; 
	font-size: 0.7em; 
	float: right;
}

.font{
	font-family: 'Ubuntu Mono', monospace;
}


