
body{
font-family: 'Ubuntu Mono', monospace;
}

.button-new-list{
    color: white;
	background: blue;
	padding: 7px;
	padding-right: 11px;
	padding-left: 11px;
	float: right;
	display: inline;
	font-family: 'Ubuntu Mono', monospace;
	border-style: hidden;
	border-style: none;
	border-width: 0px;
	

}

.field-new-list{
	width: 40%;
	float: left;
	
}

.alert{
	color: white;
	background-color: red;
	opacity: 0.5;
	border-style: solid;
	border-width: 2px;
	border-color: red;
}

.head{
	text-align: left;
	color: grey;
}

.carousel{
	height: 200px;
	width: 100%;	
	border-style: solid;
	border-color: #CCFF38;
	border-width: 3px;
	
}

.size-preview{
	height: 700px;

}


.top-margin-new{
 	margin-top: 20%;
}

.top-margin-show{
	margin-top: 7%;
}

.left-margin{
	margin-left: 10%;
}

.go{
	float: right;
	background-color: #CCFF38;
	padding: 7px;
}

a:link{
	color: grey;
}

a:visited { 
    color: grey;
}

a:hover {
    color: black;
}

a:active {
    color: red;
}

.btn-info{
	color: #CCFF38;
}

.delete_link a{
	color: white;
	background: red;
	padding: 14px;
	float: right;
	font-family: 'Ubuntu Mono', monospace;
}

.pos{
	position: fixed;
	min-height: 100%;
	 height: auto !important;
	 height: 100%;

}

.pos h1{
	font-family: 'Ubuntu Mono'; monospace; 
	font-size: 4em; 
	color: grey;
	margin-bottom: 50px;
}

.email-logout{
	float: right;
	
	color: grey;
	margin-bottom: 20px;
	font-family: 'Ubuntu Mono', monospace;
}

.plus{
	display: block;
    /*margin-left: 50%;
    margin-right: 50%;*/
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}

.new{
	font-family: 'Ubuntu Mono', monospace;
	margin-bottom: 30px;
}

.field-length{
	width: 80%;
}

.field-length-list{
	width: 100%;
}


.link_date{
	font-family: 'Ubuntu Mono', monospace; 
	color: grey; 
	font-size: 0.7em; 
	float: right;
}

.signin{
	width: 60%;
	height: 50%;
	padding: 10%;
	background-color: #CCFF38;
}




.login-wrap{
	/*width: 100%;
	margin: auto;
	max-width: 525px;
	min-height: 450px;
	position: relative;*/

	

}

.claim{
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
	font-family: 'Ubuntu Mono', monospace; 
}


/* green box */ 
.login-html{
	width: 100%;
	height: 100%;
	max-width: 600px;
	max-height: 400px;
	min-width: 500px;
	min-height: 500px;
	width:50%;
	height:50%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
	padding: 50px;
	background: #CCFF38;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}

.sign {
	font-family: 'Ubuntu Mono', monospace; 
	color: red; 
	font-size: 1em; 
	display: inline;
	margin: 18%;
	/*text-align: center;*/
} 

.signup-container{
	font-size: 1em;
	color: #34CE93;
	font-family: 'Ubuntu Mono', monospace;
	margin-left: 50%;
}

.signin-container{
	font-size: 1em;
	color: #34CE93;
	font-family: 'Ubuntu Mono', monospace;
	/*margin-left: 0%;*/
}

.google-button{
	background-color: #34CE93; /* Green */
    border: none;
    color: white;
    padding: 0px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 6px;
}

.form-fields{
	font-family: 'Ubuntu Mono', monospace;

}


.save{
	color: grey;
	background: #CCFF38;
	padding: 7px;
	padding-right: 11px;
	padding-left: 11px;
	float: right;
	font-family: 'Ubuntu Mono', monospace;
	border-style: : hidden;
	border-style: none;
	border-width: 0px;
}


