/*
*=require_tree
*= require_self
*/



/*flash alerts*/
.alert-warning{
	opacity: 0.5;
	margin-left: 74px;
}

#error_explanation, #error_explanation h2{
	background-color: #FFF9E6;
	position: fixed;
	left: -200px;
	top: -60px;
	opacity: 0.5;
	width: 1000px;
	color: black;
	font-size: 12px;
}

#error_explanation{
	padding-top: 20px;
}

.text-list{ 
	width: 80%; 
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow: ellipsis;
}



/*sidenav*/

html{
		height: 100%;
		font-family: 'Ubuntu Mono', monospace;
		min-height:900px;
		color: black

	}
	body{
		/*background: linear-gradient(40deg, grey, white)!important;;*/       
		display: grid;
	}

	.logo {
		height: 32px;
		padding: 5px 0 3px;
		margin:10px 5px 5px 35px;
	}
	.navLogo{
		padding: 5px 0 3px;
		margin:17px 5px 5px 20px;
	}
	.logoText{
		margin-top:10px;
		margin-right:120px;
		color:#a5a5a5;
		font-size:1.5rem;
	}
	.navLogoText{
		font-size:1.5rem;
		color:#a5a5a5;
		margin-left: 25px;
	}
	.bottomLi:hover{
		color:blue;
	}
	.fixTopNav{
		background:#fff;
	}
	.darkGray, .darkGray a, nav .input-field label i.darkGray{
		color:#656565;
	}
	.search{
		
		margin:10px 10px 10px 40px;
	}
	.leftSide{
		height: 100%;
		width:74px;
		background:#fff;
		position: fixed;
		padding: 100px 0px 0px 0px;
	}
	.shadow{
		    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
	}
	.noShadow{
		box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.12);
	}

	.blackfont{
		color: #656565;
	}

	.lightGreyBackground{
		background-color: #e7e7e7;
	}


	.customize-side-nav{
		background-color: #e7e7e7;

	}

	/*big navbar*/
	.colon-left{
		margin-left: 15px;
		width: 300px;
	}
	.leftSideBigNav{
		height: 100%;
		width: 300px;
		background-color: #e7e7e7;
		position: fixed;
		padding: 40px 0px 0px 0px;
	}

	.rightMarginForIcons{
		margin-right: 10px;
	}

	#newListName{
		margin: 0px;
		height: 2rem;
	}

	.color-preview{
		width: 20px;
		height: 20px;
		border:1px solid #656565;;
		text-align:center;
	}






	
	/* Customize the label (the container) */
.container1 {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container1 input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
/*  background-color: teal;*/
  border-radius: 50%;
}



/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container1 .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.signout{
	display:inline-block;
	color: black
}

/*overwrite the style for sign out to display*/
nav div a {
	color: #656565 !important;
}

	#green, #purple, #taupe, #teal, #mgrey, #red, #mint{
		display:inline-block
	}

	#green{
		background-color: #CCFF38;
		}
	#purple{
		background-color: #604560;
		}
	#taupe{
		background-color: #E4E0D5;
		}
	#teal{
		background-color: #51CDA7;
		}
	#mgrey{
		background-color: #BCB7B3;

	}
	#red{
		background-color: #FF3333;
	}
	#mint{
		background-color: #F9FFFC;
	}
	
	#can{
		vertical-align: middle;
	}


	/*little side bar*/
	.color-list{
		color: #CCFF38;
		background-color: #CCFF38;
	}





	/*filters and delete list button display*/
	.filter{
		width: 100%;
	}


	/*links display*/
	.link {
		width: 100%;
	}

	.preview{
	height: 200px;
	width: 100%;	
	border-style: solid;
	border-color: #CCFF38;
	border-width: 3px;
	resize: both;
  	overflow: auto;	
	}

	.top-margin-show{
		margin-top: 7%;
	}

	.font{
	/*font-family: 'Ubuntu Mono', monospace;*/
	}

	.push-right{
		float: right;
	}

	.link_date{
	color: grey; 
	font-size: 0.7em; 
	float: right;
	}

	.link-icons-gray{	
		color: #656565;
		background-color: #e7e7e7;
		border-style: solid;
		border-color: white;
		border-width: 3px;
	}


	/************************************    show link placement    ****************************/
	.show-link{
		padding: 40px; 
		margin-left: 100px;
		max-width: 715px;
	}

	.preview-show{
		height: 700px;
		width: 80%;
		margin-left: 100px;
	}

	
