

.delete-button {
	background: red;
	padding: 3px;
	padding-right: 14px;
	padding-left: 14px;
	float: right;
	font-family: 'Ubuntu Mono', monospace;
}

.plus{
	display: block;
    text-align: center;
}

.save-button{
	background: #CCFF38;
	padding: 3px;
	padding-right: 11px;
	padding-left: 11px;
	float: right;
	font-family: 'Ubuntu Mono', monospace;
	border-style: hidden;
	border-style: none;
	border-width: 0px;
}

.visit-button{
	color: grey;
	background: #e7e7e7;
	padding: 3px;
	padding-right: 11px;
	padding-left: 11px;
	float: left;
	font-family: 'Ubuntu Mono', monospace;
	border-style: hidden;
	border-style: none;
	border-width: 0px;
}