<div class="row">
	<div id="first_column" class="col-lg-4 col-md-4 col-sm-12 col-xs-12" >

		first column
	</div>

<div class="clearfix visible-xs visible-md"></div>

	<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" id="second_column" >

	second column
		<div class="row email-logout">
			second column first row
		</div>

		<div class="row">
		second column second row
		</div>

	
	</div>
</div>















